# 应用配置
NODE_ENV=development
PORT=3001
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# 数据库配置 (Prisma)
DATABASE_URL="postgresql://postgres:password@localhost:5432/monitor?schema=public"

# Redis 配置
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# 日志配置
LOG_LEVEL=info
